header {
	margin: 41px 0px 85px 63px;
}
/*news page*/
.Logo {
	display: inline-block;
	margin-right: 60px;
	vertical-align: middle;
}

nav {
	display: inline-block;
}
ul {
	display: inline-block;
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;

}

li {
	display: inline-block;
}

.li1 {
	margin-right: 87px;
	color: #8D81FF;
}

.li2 {
	margin-right: 87px;
	color: #4E6FAE;
}


.container {
	width: 1052px;
	margin: 0px auto;
}
.s-1 {
	margin-bottom: 120px;
}

.h2 {
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;
	display: inline-block;
	margin-right: 18px;
	vertical-align: middle;
}

.stick {
	display: inline-block;
	margin-right: 18px;
	vertical-align: middle;
}

.h3 {
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 31px;
	color: #4E6FAE;
	display: inline-block;
	vertical-align: middle;
}

.card-1 {
	width: 500px;
	height: 192px;
	background: #E7E7E7;
	display: inline-block;
	margin-right: 48px;
	margin-top: 31px;
	vertical-align: top;
}

.card-2 {
	width: 500px;
	height: 192px;
	background: #E7E7E7;
	display: inline-block;
	margin-top: 31px;
	vertical-align: top;
}

.s-2 {
	margin-bottom: 93px;
}

.logo1 {
	margin-right: 41px;
	vertical-align: middle;
}

.stick1 {
	margin-right: 41px;
	vertical-align: middle;
}

.Logo2 {
	vertical-align: middle;
}

.smth {
	width: 77px;
	height: 77px;
	margin: 9px 30px 41px 36px;
	display: inline-block;
	vertical-align: middle;
}

.cardtext {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #3F4145;
	margin: 21px 170px 21px 23px;
}

.p1 {
	display: inline-block;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #7E8898;
	width: 335px;
	height: 95px;
	margin: 0px 15px 32px 0px;
	vertical-align: middle;
}

/*main page*/

.container1 {
	margin-left: 52px;
}

.div1 {
	height: 50px;
	width: 50px;
	background-color: #5012D5;
	color: #84FF81;
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	padding: 8px 11px;
	margin-bottom: 18px;
}

.h30 {	
	font-family: "BPG Nostalgia", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: #4E6FAE;
	margin-bottom: 14px;
}

.img2 {
	display:inline-block;
	height: 447px;
	width: 280;
	vertical-align: top;
	margin-right: 66px;
}

.div2 {
	display: inline-block;
	vertical-align: top;
	font-family: 'GL Kirovi';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	width: 600px;
    height: 353px;
	color: #4E6FAE;
	margin-bottom: 155px;
}

.p2 {
	font-family: "BPG Nostalgia", sans-serif;
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #4E6FAE;
}

.para {
	font-family: "BPG Nostalgia", sans-serif;
	width: 1021px;
	height: 148px;
	margin-top: 32px;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #4E6FAE;
	margin-bottom: 143px;
}

.h21 {
	
	font-family: "BPG Square", sans-serif;
	color: #4E6FAE;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 5px;
}

.foot {
	margin-right: 41px;

}

/*contact style*/

.div5 {
	background-color: #E7E7E7;
	
	margin-bottom: 104px;
}

.div6 {;
	display: inline-block;
	margin: 93px 40px 455px 162px;
	vertical-align: top;
}

.h24 {
	
	margin:0px 40px 23px 0px;
	font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    
    vertical-align: top;
    color: #4E6FAE;
}

.h25 {
	color: #7E8898;
	margin: 27px 207px 11px 0px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	width: 434px;
	height: 34px;


}

.div7 {
	margin: 93px 40px 93px 40px;
    display: inline-block;
    width: 100px;
	height: 100px;
	vertical-align: top;
	

}

.foot1 {
	margin-right: 41px;	
	margin-left: 194px;
}