header {
	margin: 41px 0px 85px 63px;
}

.Logo {
	display: inline-block;
	margin-right: 60px;
	vertical-align: middle;
}
ul {
	display: inline-block;
	font-family: 'FiraGO';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	color: #8D81FF;

}

li {
	display: inline-block;
}

.li1 {
	margin-right: 87px;
}

.li2 {
	margin-right: 87px;
	color: #4E6FAE;
}

.container {
	width: 1052px;
	margin: 0px auto 120px;
}